 <h4>Post details:</h4>
 <p>
 <!-- детали поста копируем прямо и index.erb  -->
 	<%= @row['content'] %>
	<br />
	<br />
	Added at <%= @row['created_date'] %>
 </p>
 <br />
 <h4>Comments:</h4>
 <!-- добавляем форму из new.erb -->
 <p>
	<form action="/details/<%= @row['id'] %>" method="POST" role="form">
		  <textarea name="content" class="form-control" rows="6" placeholder="Type comment text here"></textarea>
		  <br />
		  <button type="submit" class="btn btn-primary">Add comment</button>
	</form>
</p>